header{
    background-image:url(../images/banner/banner3.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 808px;
    padding-top: 216px;
    padding-left: 845px;
    position: relative;
}



header .header-text h1{
    font-size: 65px;
    color: #ffffff;
    font-weight: bold;

    margin-bottom: 24px;
}
header .header-text p{
    color: #ffffff;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 32px;
}
header .header-text button{
    width: 160px;
    height: 64px;
    background-color: #ffffff;
    color: #005FAC;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

header nav ul li a{

    color: #ffffff;

}

.section3 .container3{
    width: 1140px;
    height: 300px;
    margin: 0 auto;
    background:url(../images/gradient1.png), url(../images/watch.png);
    background-repeat: no-repeat;
    padding: 60px 0;

}
