@import url('https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@100..800&family=Encode+Sans+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Encode+Sans+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&family=Gowun+Batang&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";

}
header{
    background-image: url(../images/banner/banner1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 808px;
    padding-top: 216px;
    padding-left: 845px;
    position: relative;
}
header nav{
    position: absolute;
    top: 30px;
    right: 50px;
}
header nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}
header nav ul li a{
    text-decoration: none;
    color: #F15B22;
    font-weight: bold;
    font-size: 22px;
}
header .header-text{
    width: 525px;
    height:426px ;
    /* margin-top: 100px; */
    text-align: right;

}

header .header-text h1{
    font-size: 65px;
    color: #151414;
    font-weight: bold;

    margin-bottom: 24px;
}
header .header-text p{
    color: #444343;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 32px;
}
header .header-text button{
    width: 160px;
    height: 64px;
    background-color: #F15B22;
    color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}


.section1 {
    padding-top: 131px;
    padding-left:206px ;
}
.section1 .container{
    width: 1072px; 
    height: 723px;
    display: flex;
    gap: 87px;
    align-items: center;

}
.section1 .container .img img{
    width: 560px;
    height: 723px;
    /* background: #F15B22;
    border-radius: 50%; */
}
.section1 .container .texts h1{
    /* width: 416px;
    height: 400px; */
    font-weight: bold;
    font-size: 40px;
    color: #151414;
    margin-bottom: 24px;
}
.section1 .container .texts p{
    /* width: 416px;
    height: 400px; */
    font-weight: normal;
    font-size: 16px;
    color: #444343;
    margin-bottom: 16px;
    line-height: 26px;
}
.section1 .container .texts ul li{
    /* width: 416px;
    height: 400px; */
    list-style: none;
    font-weight: normal;
    font-size: 16px;
    color: #444343;
    margin-bottom: 16px;
    line-height: 26px;
    margin-bottom: 8px;
}

.section1 .container .texts ul li img{
    margin-right: 10px;
}

.section2{
    padding-top: 130px;

}
.section2 h1{
    text-align: center;
    font-size: 40px;
    color: #151414;

}

.section2 .container2{
    padding-top: 50px;
    width: 1140px;
    height: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section2 .container2 .card{
    text-align: center;
}
.section2 .container2 .card image{
    width: 92px;
    height: 92px;
    margin-bottom: 24px;
}
.section2 .container2 .card  h3{
    font-size: 30px;
    color: #151414;
    margin-bottom: 16px;
}
.section2 .container2 .card  small{
    font-size: 25px;
    color: #737272;
    font-weight: normal;
}

.section3{
    padding:135px  0;
}
.section3 .container3{
    width: 1140px;
    height: 300px;
    margin: 0 auto;
    background:url(../images/gradient2.png), url(../images/watch.png);
    background-repeat: no-repeat;
    padding: 60px 0;

}
.section3 .container3 .texts{
    width: 459px;
    margin-left:64px ;
}
.section3 .container3 .texts h1{
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 24px;
}
.section3 .container3 .texts button{
    width: 160px;
    height: 64px;
    background-color: #ffffff;
    color: #F15B22;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

footer{
    padding:130px 0 ;
    background-color: #151414;
}
footer .container{
width: 1140px;
margin: 0 auto;
display: flex;
gap: 330px;
}

footer .container .test  h1{
    font-size: 45px;
    font-weight: bold;
    color: #f8f8f8;
    margin-bottom: 16px;
}
footer .container .test .p1{
    width: 485px;
    font-size: 16px;
    font-weight: normal;
    color: #f8f8f8;
    margin-bottom: 24px;
    line-height: 26px;
}
footer .container .test .p2{
    font-size: 16px;
    font-weight: normal;
    color: #f8f8f8;
    margin-bottom: 17px;

}
footer .container .test .p3{
    font-size: 16px;
    font-weight: normal;
    color: #f8f8f8;
    margin-bottom: 32px;

}
footer .container .test .icons{
    display: flex;
    gap: 18px;

}
footer .container .test .icons img{
    width: 46px;
    height: 46px;
    border-radius: 50%;
}
footer .container form h3{
    font-size: 25px;
    color: #ffffff;
    margin-bottom:31px ;

}

footer .container form  input[type='email']{
    width: 325px;
    height: 64px;
    padding-left: 21px;
    border-radius: 8px;
    border: 1px solid #ffffff;
    background-color: transparent;
    margin-bottom: 16px;

}
footer .container form  input[type='button']{
    width: 170px;
    height: 64px;
    border-radius: 8px;

    background-color: #ffffff;
    color: #F15B22;
    font-weight: bold;

}
